<h3>iRise iBloc Scaffold Form</h3>
<form action="/form_scaffold" method="post">
	<input type="text" name="namespace">
	<input type="text" name="version">
	<input type="text" name="name">
	<input type="submit">
</form>