<div class="row page-title">
	<div class="col-md-12">
		Build iBloc
	</div>
</div>
<form action="/form_scaffold" method="post">
	<div class="row margin-top-18">
		<div class="col-md-4">
			<div class="form-group">
    			<label for="ibloc_name_space">iBloc Namespace:</label>
    			<input type="text" class="form-control" name="ibloc_name_space" value="CICDIM">
    			<p class="help-block">..</p>
  			</div>
  			<div class="form-group">
    			<label for="ibloc_name">iBloc Name:</label>
    			<input type="text" class="form-control" name="ibloc_name" placeholder="Google Chart">
    			<p class="help-block">..</p>
  			</div>
  		</div>
  		<div class="col-md-4">
			<div class="form-group">
    			<label for="ibloc_irise_version">iRise Version:</label>
    			<select class="form-control" name="ibloc_irise_version">
  					<option>10.0</option>
  					<option>9.0</option>
  					<option>8.0</option>
  					<option>7.0</option>
  					<option>6.0</option>
				</select>
    			<p class="help-block">..</p>
  			</div>
  			<div class="form-group">
    			<label for="ibloc_version">iBloc Version:</label>
    			<select class="form-control" name="ibloc_version">
  					<option>1</option>
  					<option>2</option>
  					<option>3</option>
  					<option>4</option>
  					<option>5</option>
				</select>
    			<p class="help-block">..</p>
  			</div>
  		</div>
  		<div class="col-md-4">
			    <div class="form-group">
    			    <label for="ibloc-type">iBloc Type:</label>
    			    <select class="form-control" id="ibloc-type">
  					      <option>Widget</option>
  					      <option>Action</option>
				      </select>
    			    <p class="help-block">..</p>
  			  </div>
  		    <button type="submit" class="btn btn-danger full-width margin-top-18">Create iBloc</button>
      </div>	
  	</div>
</form>
<hr>
<div class="page-sub-heading">
	<span class="dash-border-2">Instructions</span>
</div>
<div class="row margin-top-18">
	<div class="col-md-6 margin-top-18">
		<ul class="margin-right-40">
			<li>
				Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
			</li>
			<hr>
			<li>
				Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
			</li>
			<hr>
			<li>
				Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
			</li>
		</ul>
	</div>
	<div class="col-md-6 margin-top-18">
		<ul class="margin-right-40">
			<li>
				Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
			</li>
			<hr>
			<li>
				Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
			</li>
			<hr>
			<li>
				Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular.
			</li>
		</ul>
	</div>
</div>